 <% if user_signed_in?  %>
<h1 align=center>KSA 자유게시판</h1>
    <table>
  <tr>
    <th width="70%">제목</th>
    <th width="10%">글쓴이</th>
    <th width="10%">게시일</th>
    <th width="10%">조회수</th>
    <th></th>
    <th></th>
  </tr>

<% @ksafreeposts.each do |ksafreepost| %>
  <tr>
    <td width="70%"><%= link_to ksafreepost.title, ksafreepost %></td>
    <td width="10%" align=center><%= ksafreepost.author %></td>
    <td width="10%" align=center><%= ksafreepost.created_at %></td>
    <td width="10%" align=center><%= ksafreepost.viewcount %></td>
  <!--  <td><%= link_to 'Show', ksafreepost %></td>
    <td><%= link_to 'Edit', edit_ksafreepost_path(ksafreepost) %></td>
    <td><%= link_to 'Destroy', ksafreepost, confirm: 'Are you sure?', method: :delete %></td>-->
  </tr>
<% end %>
</table>
	<p align=right><button> <%= link_to '쓰기', new_ksafreepost_path %></button></p>
<% else %> 
   <% redirect_to_sign_in %>
<% end %>




