
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Kogsa@UVA</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="<%=is_active('home')%>"><a href="/"><i class="icon-home icon-white"></i>Home</a></li>
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="<%=is_active('uva')%>"><a href="/uva">Intro to UVA</a></li>
              <li class="<%=is_active('ksa')%>"><a href="/ksa">KSA</a></li>
              <li class="<%=is_active('kogsa')%>"><a href="/kogsa">KOGSA</a></li>
              <li class="<%=is_active('making')%>"><a href="/making">Making Story</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">Info<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="<%=is_active('qna')%>"><a href="/qna">Q & A</a></li>
              <li class="<%=is_active('recruit')%>"><a href="/recruit">Recruiting</a></li>
              <li class="<%=is_active('living')%>"><a href="/living">Living Info</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">For Members<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="<%=is_active('ksafree')%>"><a href="/ksafree">KSA Freeboard</a></li>
              <li class="<%=is_active('kogsafree')%>"><a href="/kogsafree">KOGSA Freeboard</a></li>
              <li class="<%=is_active('market')%>"><a href="/market">Market</a></li>
              <li class="<%=is_active('gallery')%>"><a href="/gallery">Gallery</a></li>
            </ul>
          </li>
          <li class="<%=is_active('organization')%>"><a href="/organization"></i>Organization</a></li>
          <li class="<%=is_active('sponsor')%>"><a href="/sponsor"></i>Sponsor</a></li>
          <li class="<%=is_active('contact')%>"><a href="/contact"></i>Contact</a></li>
        </ul>
    
       <!-- <form class="navbar-search pull-right" action="">
        	<input type="text" class="search-query span2" placeholder="Search">
    	</form>-->
    		        
      <ul class="nav pull-right">
  <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Edit account', edit_user_registration_path) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Sign up', new_user_registration_path)  %>
    </li>
  <% end %>
</ul>  
        
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->	
